<component name="ArtifactManager">
  <artifact type="exploded-war" external-system-id="Maven" name="springBootTest:war exploded">
    <output-path>$PROJECT_DIR$/target/springBootTest</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springBootTest" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springBootTest/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springBootTest/web/Web" />
    </root>
  </artifact>
</component>